<div class="row header-row">
	<div class="logo-img col-md-4" style="font-size: x-large;
                                              color: white;
                                              top: 20px;">Management console</div>
    <span class="col-md-2"></span>
    <a class="col-md-2 btn btn-default header-btn" id="userMgmt-header" href="/userManagement">Users</a>
    <a class="col-md-2 btn btn-default header-btn" id="cnxn-header" href="/connectionManagement">Connections</a>
	<span class="col-md-1 header-btn">
		<a class="btn btn-default help-btn">Help</a>
	</span>
	<a id="logout-btn" class="col-md-1 btn btn-default header-btn">Log Out</a>
</div>