<div class="row header-row">
    <div class="header-tool">Privilege Management</div>
    <br>
    <div class="options-row col-md-12">
        <button type="button" class="btn btn-info add-privilege-button">
          <span class="glyphicon glyphicon-plus"></span> Add Privilege
        </button>
    </div>
    <br>
    <br>
	<div class="privilege-data col-md-12" >Fetching privileges...</div>
	<div id="modal-window"></div>
</div>