<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="row justify-content-center">
  <div class="col-6">
    <br />
    <div style="text-align:center">
      <img src="/DataStage-logo.png" style="width:100%" />
    </div>
    <br />

    <div class="card bg-light mb-3">
      <div class="card-body">
        <h3 class="card-title text-center">Log In</h3><br />
        <br />
        <a href="{{ fenceURL }}&idp=fence" style="display: block; padding: 5px; background-color: #d0d0d0; width: auto">
          <img src="https://public.era.nih.gov/submithelp/images/banner_eralogo.gif" style="height:16px" />with eRA Commons</a><br />
        <br />
        <span class="text-center" style="display: block">
          Are you a DataSTAGE consortia developer? <a href="{{ fenceURL }}&idp=google">Log In</a>
        </span>
      </div>
    </div>
    <br />
    <br />

    <h4>Warning Notice</h4>
    <p>This is a U.S. Government information system, which may be accessed and used only for authorized Government business by authorized personnel. Unauthorized access or use of this system may subject violators to criminal, civil, and/or
      administrative action.</p>

    <p>All information on this computer system may be intercepted, recorded, read, copied, and disclosed by and to authorized personnel for official purposes, including criminal investigations. Such information includes sensitive data encrypted to
      comply with confidentiality and privacy requirements. Access or use of this computer system by any person, whether authorized or unauthorized, constitutes consent to these terms. There is no right of privacy in this system.</p>
    <br />
  </div>
</div>
