<div class="row justify-content-center">
  <div class="col-6">
    <br />
    <div style="text-align:center">
      <img src="/DataStage-logo.png" style="width:100%" />
    </div>
    <br />

    <div class="card bg-light mb-3">
      <div class="card-body">
        <h3 class="card-title text-center">Log In</h3><br />
        <br />
        <a href="{{ fenceURL }}&idp=fence" style="display: inline; padding: 5px; background-color: #d0d0d0; width: auto">
          <img src="https://public.era.nih.gov/submithelp/images/banner_eralogo.gif" style="height:16px" />with eRA Commons</a><br />
        <br />
        <span class="text-center" style="display: block">
          Are you a DataSTAGE consortia developer? <a href="{{ fenceURL }}&idp=google">Log In</a>
        </span>
      </div>
    </div>
  </div>
</div>
