<div class="row justify-content-center">
  <div class="col-6">
    <br />
    <div class="center">
      <img src="/HMS_DBMI_Logo.svg" class="login-logo" />
    </div>
    <br />

    <div class="card bg-light mb-3">
      <div class="card-body">
        <h3 class="card-title text-center">Log In</h3><br />
        <br />
        <a href="{{ fenceURL }}&idp=fence" class="fence-login-btn">
          <img src="https://public.era.nih.gov/submithelp/images/banner_eralogo.gif" class="fence-login-img"/>with eRA Commons</a><br />
        <br />
        <span class="center">
          Are you a Developer? <a href="{{ fenceURL }}&idp=google">Log In</a>
        </span>
      </div>
    </div>
  </div>
</div>