<br />
<h2>DataStage Login Page</h2><br />
<br />
<p>In China, archaeological evidence of medicine in Chinese dates back to the Bronze Age Shang Dynasty, based on seeds for herbalism and tools presumed to have been used for surgery.</p>

<p>In India, the surgeon Sushruta described numerous surgical operations, including the earliest forms of plastic surgery.</p>

<p>Most of our knowledge of ancient Hebrew medicine during the 1st millennium BC comes from the Torah, i.e. the Five Books of Moses, which contain various health related laws and rituals. The Hebrew contribution to the development of modern medicine started in the Byzantine Era, with the physician Asaph the Jew.</p>

<a href="{{fenceURL}}" class="btn">Login With DataStage</a><br />
<br />
