<div id='frmAuth0Login'></div>
<script>
  var oauth = {
    client_id : '{{clientId}}',
    domain : '{{auth0Subdomain}}.auth0.com',
    callbackURL : '{{callbackURL}}'
  };
  {{{buttonScript}}}
</script>