<div id="not_authorized_message">
<h2>Not Authorized</h2>
<p>Your user account is not yet authorized to use this system.</p>
<p>Please contact the <a href="{{helpLink}}">administrator</a> if you believe this is an error.</p>
