<div class="row header-row">
	<div class="logo-img col-md-4" style="font-size: x-large;
                                              color: white;
                                              top: 20px;">Management console</div>
	<a class="col-md-2"></a>
	<a class="col-md-2"></a>
	<span class="col-md-2"></span>
	<span class="col-md-1 header-btn">
		<a class="btn btn-default help-btn">Help</a>
	</span>
	<a id="logout-btn" class="col-md-1 btn btn-default header-btn">Log Out</a>
</div>