<div class="row">
    <h3>Application Management</h3>
    <br>
    <br>
    <div class="options-row col-md-12">
        <button type="button" class="btn btn-info add-application-button">
          <span class="glyphicon glyphicon-plus"></span> Add Application
        </button>
    </div>
    <br>
	<div class="application-data col-md-12" >Fetching applications...</div>
	<div id="modal-window"></div>
</div>
