<div class="row">
    <h3>Role Management</h3>
    <br>
    <br>
    <div class="options-row col-md-12">
        <button type="button" class="btn btn-info add-role-button">
          <span class="glyphicon glyphicon-plus"></span> Add Role
        </button>
    </div>
    <br>
	<div class="role-data col-md-12" >Fetching roles...</div>
	<div id="modal-window"></div>
</div>
