#main-content {
    position: relative;
    top: 2em;
}
.tool-header {
	font-size: 2.5em;
}
 .large {
    font-size: 5em;
}
 .medium {
    font-size: 1.5em;
}
 .small {
    font-size: .75em;
}
 .center {
    text-align: center;
    display: block;
}
 .blue {
    color: #4a90e2;
}

.btn-info {
    background-color: #4a90e2;
    border-color: #4a90e2;
}

.btn-outline {
    color: #4a90e2;
    border-color: #4a90e2;
}

.btn:hover {
    color: #ffffff;
    background-color: #76a6de;
    border-color: #76a6de;
}
.btn-default:hover {
    color: #ffffff;
    background-color: #76a6de;
}
.btn-default.active:hover {
    color: #ffffff;
    background-color: #76a6de;
}

.btn-right {
    float: right;
}

 .search-box-spinner {
     position: absolute !important;
     right: 1.5em;
     left: auto !important;
}
 .logo-img {
     max-height: 90px;
     max-width: 275px;
}
 #pic-sure-instances {
     width: 100%;
}
 #header {
     width: 100%;
     background-color: #4a90e2;
}
 #header-content {
     width: 80%;
     height: 80px;
     overflow: hidden;
}
 .header-btn {
     top: 40px;
     border-radius: 0px;
     background-color: transparent;
     border: none;
     color: white;
}

.search-btn {
     background-color: #4a90e2;
     color: white;
     border-radius: 0px;
}
 .header-btn.active {
     border-bottom: 10px;
     border-bottom-color: white;
     border-bottom-style: solid;
     box-shadow: none;
     -webkit-box-shadow: none;
     background-color: transparent;
     color: white;
}
 .right {
     text-align: right;
}
 .left {
     text-align: left;
}
 .help-btn {
     background-color: white;
     border: none;
     width:5em;
     border-radius: 0px;
     float: right;
     color: #4a90e2;
}
 .spinner {
     position: absolute;
     margin-top: 5px;
     border-radius: 50%;
     border: 3px solid #f3f3f3;
     border-top: 3px solid #4e92df;
     width: 20px;
     height: 20px;
     -webkit-animation: spin 0.7s linear infinite;
     animation: spin 0.7s linear infinite;
}
 .spinner-medium {
     width: 40px;
     height: 40px;
}
 .spinner-large {
     width: 60px;
     height: 60px;
     border-width: 10px;
     margin-top: 10px;
}
 .spinner-center {
     left: 50%;
     margin-left: -10px;
}
 .spinner-medium-center {
     left: 50%;
     margin-left: -20px;
}
 .spinner-large-center {
     left: 50%;
     margin-left: -30px;
}
 @-webkit-keyframes spin {
     0% {-webkit-transform: rotate(0deg);}
     100% {-webkit-transform : rotate(360deg);}
}
 @keyframes spin {
     0% {transform: rotate(0deg);}
     100% {transform : rotate(360deg);}
}

.picsure-border-frame {
    border: 2px solid rgb(223, 238, 255);
    border-top: 0px;
}

.list-group-item:last-child {
    margin-bottom: -20px;
    font-weight: bold;
}

.tab-row {
    margin-right: -10px;
    margin-left: -10px;
}

.tab-pane {
    overflow-y: auto;
    max-height: 300px;
    background: white;
    border-bottom: 1px solid rgb(223, 238, 255);
}

.nav-pills {
    padding: 10px;
}

.nav-pills>li {
    padding-right: 10px;
}

.nav>li>a {
    padding: 5px;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.field-invalid {
    border: 2px solid red;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.table-users {
    border-collapse: collapse;
    width: 100%;
}

.table-users thead {
    border: 1px solid rgb(74, 144, 226);
    border-bottom: 0px;
}

.table-users th {
    color: white;
    padding: 10px;
}

.table-users td {
    border: 1px solid #b2cfeb;
    border-top: 0px;
    text-align: left;
    padding: 10px;
}

.table-users tbody td:nth-child(1) {
    font-weight: bold;
    color: #007eff;
    cursor: pointer;
}

.table-users tbody tr:nth-child(odd) {
    background-color: #deeaf6;
}

.header-color {
    background: rgb(74, 144, 226);
}

input {
    border: 1px solid #4a90e2;
}
#current-connection-form {
	width: inherit;
}
