<div class="row">
    <h3>User management</h3>
    <br>
    <div class="options-row col-md-12">
        <button type="button" class="btn btn-info add-user-button">
          <span class="glyphicon glyphicon-plus"></span> Add user
        </button>
    </div>
    <br>
    <br>
	<div class="user-data col-md-12" >Fetching users...</div>
	<div id="modal-window"></div>
</div>
