<div class="row">
    <div class="bordered-block" style="float: right;">
        <a href="/admin/connectionManagement">Connection Management</a><br>
        <a href="/admin/roleManagement">Role Management</a><br>
        <a href="/admin/applicationManagement">Application Management</a>
    </div>
    <div class="header-tool">AccessRule Management</div>
    <br>
    <div class="options-row col-md-12">
        <button type="button" class="btn btn-info add-accessRule-button">
          <span class="glyphicon glyphicon-plus"></span> Add AccessRule
        </button>
    </div>
    <br>
    <br>
	<div class="accessRule-data col-md-12" >Fetching accessRules...</div>
	<div id="modal-window"></div>
</div>
