<div id="new-accessRule-form">
    <div>
        <label for="accessRule_name">name (required)</label>
        <input uuid="{{this.uuid}}" type="text" required name="accessRule_name" style="width: 100%;" required>

        <label for="accessRule_description">description (required)</label>
        <input type="text" required name="accessRule_description" style="width: 100%;" required>
    </div>
    <div style="padding-top: 4px">
        <button id="save-accessRule-button" type="submit" class="btn btn-info">
            <span class="glyphicon glyphicon-ok"></span> Save AccessRule
        </button>
        <div id="cancel-accessRule-button" class="btn btn-outline" style="float: right">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </div>
    </div>
</div>